
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
}


.container {
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.box {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, blue 50%, red 50%);
  background-size: 200% 100%;
  transition: background-position 0.5s;
}

.container:hover .box {
  background-position: -100% 0;
}






@layer utilities {
    .slim-scrollbar::-webkit-scrollbar {
      width: 4px;
    }
    .slim-scrollbar::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    .slim-scrollbar::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,.5);
      outline: 1px solid slategrey;
    }
    .slim-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: rgba(0,0,0,.1) rgba(0,0,0,0.3);
    }
  }
  

  @layer utilities {
  
  
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
  
      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
      }


       /* Custom scrollbar style */
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px; /* Width of the scrollbar */
      }
  
      .custom-scrollbar::-webkit-scrollbar-track {
        background: #eee; /* Color of the scrollbar track */
      }
  
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background:#eee; 
       
      }
    }
  
    .customShadow {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

  
    
    /* Example of custom styles */
    .custom-toast {
      padding: 16px; /* Padding */
      height: 100%;
    }
    
    .custom-toast:hover {
      cursor: pointer; /* Change cursor on hover */
    }
    